*{
    /* Helvetica */
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color:; */
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px ;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    /* background-color:orange; */
    background-color: hsl(12, 88%, 59%);
    border-radius: 16px;
  }
 

  .nav-but{
    padding: 3%;
    border-radius: 16px;
    width: 40%;
    color: whitesmoke;
    background-color: hsl(12, 88%, 59%);
    border: none;

  }

  .col-6a{
    width: 50%;
    margin-top: 5%;
  }

  .col-6a  p, button {
    margin-left: 10%;
    word-wrap: break-word;
    width: 60%;
    
    
  }
.col-6a p{
    font-size: 25px;
}

.col-6a h1{
    font-size: 35px;
    margin-left: 10%;
    word-wrap: break-word;
    width: 60%;
}
#home{
    /* background-color: aqua; */
    background-image: url(images\bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}

.col-6 h1,p{
    margin-left: 10%;
    width: 60%;

}

.col-6 h1{
    font-size: 35px;
    /* margin-top: 10%; */
}

.col-6 p{
    font-size: 25px;
}

.col-4{
    border: solid gainsboro;
    border-radius: 16px;
    /* margin-left: 1px; */
}
.col-4 p{
    margin-left: 17%;
    /* background-color: grey; */
    
}
#review{
    background-color: lightgrey;
}

.but3{

    padding: 1%;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border: none;
    border-radius: 16px;
    width: 10%;
    text-align: center;
    margin-right: 10%;
    

}

#simplify{
    background-color: hsl(12, 88%, 59%);
    color: whitesmoke;
}
#simplebut{
    background-color: white;
     color:  hsl(12, 88%, 59%);
     padding: 3%;
    border-radius: 16px;
    width: 40%;
    border: none;
    margin-top: 6%;
    
}